<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages validateRequest="false" />
    <httpRuntime  maxRequestLength="31457280" requestValidationMode="2.0" />
    <httpHandlers>
      <add verb="*" path="android.ashx"  type="Fly.Box.IM.Server.WebServices.AndroidAjaxService,Fly.Box.IM.Server.WebServices" />
      <add verb="*" path="ios.ashx"  type="Fly.Box.IM.Server.WebServices.IOSAjaxService,Fly.Box.IM.Server.WebServices" />
      <add verb="*" path="android-r.ashx"  type="Fly.Box.IM.Server.WebServices.AndroidAjaxRService,Fly.Box.IM.Server.WebServices" />
      <add verb="*" path="ios-r.ashx"  type="Fly.Box.IM.Server.WebServices.IOSAjaxRService,Fly.Box.IM.Server.WebServices" />
    </httpHandlers>
  </system.web>
</configuration>
