<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages validateRequest="false" />
    <httpRuntime  maxRequestLength="31457280" requestValidationMode="2.0" />
    <httpHandlers>
      <add verb="*" path="ajax.ashx" type="Fly.BaseCenter.Services.AjaxService,Fly.BaseCenter.Services" />
      <add verb="*" path="do/*" type="Fly.BaseCenter.Services.AjaxSysService,Fly.BaseCenter.Services" />
    </httpHandlers>
  </system.web>
</configuration>
