<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="fly-box-im" connectionString="data source=.\SQL05;initial catalog=Fly.Box-dev;persist security info=True;user id=sa;password=1234567890;Connect Timeout=6;multipleactiveresultsets=True;App=EntityFramework;" />
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
