<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages validateRequest="false" />
    <httpRuntime  maxRequestLength="31457280" requestValidationMode="2.0" />
    <httpHandlers>
      <add verb="*" path="android.ashx"  type="Fly.Box.ClientServices.AndroidAjaxService,Fly.Box.ClientServices" />
      <add verb="*" path="ios.ashx"  type="Fly.Box.ClientServices.IOSAjaxService,Fly.Box.ClientServices" />
      <add verb="*" path="android-r.ashx"  type="Fly.Box.ClientServices.AndroidAjaxRService,Fly.Box.ClientServices" />
      <add verb="*" path="ios-r.ashx"  type="Fly.Box.ClientServices.IOSAjaxRService,Fly.Box.ClientServices" />
    </httpHandlers>
  </system.web>
</configuration>
