<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages validateRequest="false" />
    <httpRuntime  maxRequestLength="31457280" requestValidationMode="2.0" />
    <httpHandlers>
      <add verb="*" path="ajax.ashx" type="Fly.Box.Services.AjaxService,Fly.Box.Services" />
      <add verb="*" path="ajaxr.ashx" type="Fly.Box.Services.AjaxRService,Fly.Box.Services" />
      <add verb="*" path="do/*" type="Fly.Box.Services.AjaxSysService,Fly.Box.Services" />
      <!--<add verb="*" path="c-ajax.ashx" type="Fly.Box.ClientServices.AjaxService,Fly.Box.ClientServices" />
      <add verb="*" path="do-pc/*" type="Fly.Box.ClientServices.AjaxSysService,Fly.Box.ClientServices" />-->
      <!--<add verb="*" path="upload.ashx" type="Fly.Box.Uploader.UploadHandler,Fly.Box.Uploader" />-->
    </httpHandlers>
  </system.web>
</configuration>
