<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--天禾云盘  数据库连接-->
    <add name="fly-box" connectionString="Server=.;Database=Fly.Box-DB;user id=sa;password=123456;persist security info=True;;Connect Timeout=6;multipleactiveresultsets=True;App=EntityFramework;" />
    <add name="fly-base" connectionString="{fly-box}" />
    <add name="fly-box-im" connectionString="{fly-box}" />
  </connectionStrings>
 
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxUrlLength="4096"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <appSettings>
    <add key="fly-share-url" value="~/s.aspx/{0}"/>

    <!--
      是否使用Office浏览文档（必须外网可以访问服务器）
          小于1，关闭
          等于1，开启
          大于1，当文档小于等于该值（KB）时开启，大不该值关闭
    -->
    <add key="use-microsoft-office" value="0"/>
    
    <!--外网地址（不配置，不能使用微软Office浏览文档）-->
    <add key="external-url" value=""/>

  </appSettings>
</configuration>